body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #2c3e50;
}

footer {
    margin-top: 30px;
    text-align: center;
    color: gray;
}
